.bg_image{
    margin-top: -83px;
    height: 683px;
    background-position: center center;
    background-size: 100% 100%;
}
@media only screen and (max-width: 576px) {
    .bg_image{
        margin-top: -99px;
       
        height: 1100px;
        background-position: center center;
        background-size: 100% 100%;
        
    }
}
.rideCard{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  
}

@media only screen and (max-width: 576px) {
    .rideCard {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.5rem;
        margin-top: 100px;
    }
  }